<%- include ("partials/header.ejs") %>
<body>
    <%- include ("partials/navbar.ejs") %>

    <hr>
    <h1>Perguntas</h1>
    <hr>
    <a href="/perguntar" class="btn btn-primary">Perguntar</a>
    <br>
    <hr>

    <div class="container">
        <% perguntas.forEach(pergunta => {%>
            <br>
            <div class="card">
                <p><%= pergunta.titulo %></p>        
            </div>
            <div class="card-footer">
                <a href="/pergunta/<%= pergunta.id %>"><button class="btn btn-primary">Responder</button></a> 
            </div>
            <%}) %>
    </div>
    </body>
<%- include ("partials/footer.ejs") %>
